.main.containerAutor{
    margin-top:90px  !important;
    margin-bottom: 10px  !important;
    margin-left: -565px  !important;
    margin-right: -300px !important;
    
}

h2{
    color: blue;
    margin-top: 60px !important;
    margin-left: 93px !important;
}

.main.containerGenero{
    margin-top:90px  !important;
    margin-bottom: 10px  !important;
    margin-left: 400px  !important;
    margin-right: -100px !important;
    
}

.main.containerEditora{
    margin-top:90px  !important;
    margin-bottom: 10px  !important;
    margin-left: 200px  !important;
    margin-right: 10px !important;
    
}



.main.container{
    margin-top:60px !important;
    margin-left: 60px  !important;
    margin-right: -80px !important;
}

.submit-button{
    margin-top:25px !important;
    float: center;
    margin-bottom: 10px !important;
    margin-left: 100px !important;
    
}

.data{
    margin-top: 20px; 
    margin-right: 100px !important;
}

thead tr th{
    background: #e0e0e0 !important;
}

.fixed.inverted.menu{
    background-color: blue;
}

